@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
