@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  font-size: 10pt;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 12pt;
  font-weight: 900;
}

h2 {
  font-size: 12pt;
  font-weight: 900;
}

.subheading {
  font-size: 10pt;
  font-weight: 900;
}
