@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  font-size: 12pt;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}
