@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

.subheading {
  font-size: 14px;
  font-weight: 900;
}

.rule-header {
  border-width: 1px;
  border-color: #000;
}

.rule-section {
  border-width: 0.5px;
  border-color: #f2f2f2;
}

.rule-subtle {
  border-width: 0.5px;
  border-color: #fafafa;
}
